<!-- Chocolate -->
<section class="chocolate">
  <div class="container">
    <h2 class="chocolate-title">
      <span class="active-color">chocolate</span> is loved
    </h2>
    <div class="chocolate-reviews">
      <ul class="chocolate-list">
        <li class="chocolate-item">
          <div class="chocolate-wrap">
            <img
              srcset="
                ./img/chocolate/reviews-1.png    1x,
                ./img/chocolate/reviews-1-2x.png 2x
              "
              src="./img/chocolate/reviews-1.png"
              alt="reviews"
              width="80"
              height="8o"
            />
            <h3 class="reviews-user">Victoria Dobrzhanska</h3>
            <p class="reviews-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>

        <li class="chocolate-item">
          <div class="chocolate-wrap">
            <img
              srcset="
                ./img/chocolate/reviews-2.png    1x,
                ./img/chocolate/reviews-2-2x.png 2x
              "
              src="./img/chocolate/reviews-2.png"
              alt="reviews"
              width="80"
              height="8o"
            />
            <h3 class="reviews-user">Nazar Babenko</h3>
            <p class="reviews-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>

        <li class="chocolate-item">
          <div class="chocolate-wrap">
            <img
              srcset="
                ./img/chocolate/reviews-3.png    1x,
                ./img/chocolate/reviews-3-2x.png 2x
              "
              src="./img/chocolate/reviews-3.png"
              alt="reviews"
              width="80"
              height="8o"
            />
            <h3 class="reviews-user">Olena Kampusch</h3>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <button class="chocolate-btn" type="button">Leave a review</button>
  </div>
</section>
