<!-- Header -->
<header>
  <div class="container">
    <nav class="nav">
      <!-- Mobile menu -->
      <div class="mob-menu">
        <a class="header-logo" href=""
          ><span>SIMPLY</span> CHOCOLATE
          <svg class="icon-logo" width="21" height="21">
            <use href="./img/icons.svg#icon-chocolate"></use>
          </svg>
        </a>
        <button class="nav-mob-btn" type="button">
          <svg class="mob-nav-open" width="21" height="14">
            <use href="./img/icons.svg#mob-menu-open"></use>
          </svg>
        </button>
      </div>

      <!-- Desktop menu -->
      <div class="desktop-menu">
        <a class="header-logo" href=""
          ><span>SIMPLY</span> CHOCOLATE
          <svg class="icon-logo" width="21" height="21">
            <use href="./img/icons.svg#icon-chocolate"></use>
          </svg>
        </a>
        <!-- Menu -->
        <ul class="desk-list">
          <li class="desk-item">
            <a class="desk-link" href="">Home</a>
          </li>
          <li class="desk-item">
            <a class="desk-link" href="">How it’s made?</a>
          </li>
          <li class="desk-item">
            <a class="desk-link" href="">Our products</a>
          </li>
          <li class="desk-item">
            <a class="desk-link" href="">Top sellers</a>
          </li>
          <li class="desk-item">
            <a class="desk-link" href="">Chocolate is loved</a>
          </li>
        </ul>
        <ul class="desk-soc-list">
          <li class="soc-item">
            <a class="nav-soc-link" href=""
              ><svg class="nav-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram-header"></use>
              </svg>
            </a>
          </li>
          <li class="soc-item">
            <a class="nav-soc-link" href=""
              ><svg class="nav-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-twitter-header"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
