/* Advantages */
.advantages {
  padding-top: 29px;
  padding-bottom: 7px;

  background: #1e1823;
  margin-left: auto;
  margin-right: auto;
}
.advan-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  row-gap: 41px;
}

.advan-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}

.advantages-icon {
  fill: #fd9222;
}
.advan-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 18px;
}
.advan-text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;

  color: #ffffffb2;
  width: 308px;
  margin-bottom: 29px;
}
/* Media Tablet */
@media (min-width: 768px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 85px;
  }
  .advan-text {
    margin: 0;
  }
}
/* Media Desktop */
@media (min-width: 1200px) {
  .advantages {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  .advan-list {
    display: flex;
    justify-content: center;
    gap: 88px;
  }

  .advan-item {
    position: relative;
  }
  .advan-item::after {
    position: absolute;
    content: '';
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    left: -70px;
    top: 50px;
  }
  .advan-item:first-child::after {
    content: none;
  }
}
