/* Unique components */
.components {
  padding-top: 72px;
  padding-bottom: 72px;
}
.components-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  max-width: 283px;
  margin: 0 auto 32px;
}
.components-text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #111111;
  margin-bottom: 32px;
}

.components-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.components-item {
  position: relative;
  flex-wrap: wrap;
  width: 335px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  overflow: hidden;
}
.components-item:focus .components-item-wrap,
.components-item:hover .components-item-wrap {
  transform: translateY(0);
}

.components-item-wrap {
  position: absolute;
  background-color: #fafafa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  padding: 28px;

  transition-property: transform;
  transition-duration: 0.57s;
}

.components-img {
  margin: 28px auto 71px;
}
.components-item-text {
  position: absolute;
  bottom: 28px;
  left: 28px;
}

.orange-box {
  background: #fd9222;
}
.white-box {
  background: #ffffff;
}
.black-box {
  background: #1e1823;
}

.components-item-text.one {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.components-item-text.two {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #111111;
}

.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #111111;
}
.benefits-wrap {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}
.benefits-btn-one {
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
  background: #fd9222;
  padding: 6px 15px;
  transition-property: color, background;
  transition-duration: 0.37s;
}
.benefits-btn-one:is(:focus, :hover) {
  color: #fd9222;
  background-color: #fcf1e0;
}
.benefits-btn-two {
  font-size: 10px;
  line-height: 12px;

  color: #111111;
  background: #fafafa;
  padding: 6px 15px;
  border: 1px solid #fd9222;
  transition-property: color, border-color, background;
  transition-duration: 0.37s;
}
.benefits-btn-two:is(:focus, :hover) {
  color: #fd9222;
  background-color: #fcf1e0;
  border-color: transparent;
}
/* Media Tablet */
@media (min-width: 768px) {
  .components {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .components-title {
    max-width: 383px;
  }
  .components-text {
    max-width: 486px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .components-list {
    gap: 32px;
  }
}
/* Media Desktop */
@media (min-width: 1200px) {
  .components {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .components-list {
    gap: 18px;
  }
  .components-item {
    width: 270px;
  }
}
